<div class="skeletonCard @Class">
    @for (var i = 0; i < Lines; i++)
    {
        <div class="skeletonLine" style="width: @(GetLineWidth(i)); margin-top: @(i == 0 ? "0" : "8px");"></div>
    }
</div>

@code {
    [Parameter] public int Lines { get; set; } = 3;
    [Parameter] public string Class { get; set; } = "";

    private static string GetLineWidth(int index) => index switch
    {
        0 => "42%",
        1 => "78%",
        2 => "61%",
        _ => "55%"
    };
}

